@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Roboto:wght@700&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Montserrat', sans-serif;

$color-1: #25156b;
$color-2: #c066d4;
$color-3: rgb(99, 164, 233);
$color-4: #4fedd2;
$color-5: #36d0ea;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px $black;
$min-height: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color: $black;
}
.accueil,
.competences,
.porfolio,
.contact {
  display: flex;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.accueilContent,
.competencesContent,
.portfolioContent,
.contactContent {
  margin-left: 0.4rem;
  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}
